body {
    margin: 2em 3em 3em 5em;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fcf1d5&noise=626262&density=15&opacity=15");
}

.dyade {
    position: relative;
    display: block;
    margin-bottom: 8em;
    clear: both;
    overflow: hidden;
    z-index: 2;
}

.original {
    width: 48%;
    height: 96%;
    float: right;
    writing-mode: vertical-rl;
    line-height: 1.7em;
    text-indent: 2em;
    font-family: 'AR PL KaitiM Big5', 'Kaiti TC', 'Noto Serif TC', serif;
    text-orientation: upright;
    font-size: 2em;
    column-count: 1;
    column-gap: 2em;
    line-break: normal;
}

.original p {
    margin: 0em;
}

.traduction {
    width: 48%;
    float: left;
    text-align: justify;
    font-family: 'CormorantUprightRegular', serif;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
    font-feature-settings: "ss02";
    font-size: 1.3em;
    column-count: 1;
    hyphens: auto;
}

.traduction p {
    text-indent: 2em;
    margin: 0.5em;
}

em em {
    font-style: normal;
}

.traduction p.poésie {
    margin-left: 2em;
}

h2 {
    color:green;
    line-height: 1.7em;
    font-size: 2em;
    margin: 0em;
}

.glossaire {
    margin-top: 5em;
    font-weight: 100;
}

.glossaire .vedette {
    font-weight: bold;
    margin-right: 1em;
}

.auteur {
    margin: 2em;
    text-align: end;
    font-weight: bold;
}

.traduction .auteur .nom {
    font-family: 'Cormorant SC', serif;
}

.bibliographie {
    margin-top: 5em;
    color: dodgerblue;
}

.renvoi {
    display: inline;
}

.dyade > .ancre {
    display: block;
    margin-top: 1em;
}

.glossaire .ancre {
    margin-right: 0.5em;
}

a:link {
    text-decoration: none;
    color: steelblue;
    font-size: 75%;
    font-weight: bold;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Cormorant', serif;
    user-select: none;
}

#index {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

#menu > p, #index > p {
    font-size: 2em;
    margin: 5px;
    display: inline;
    visibility: visible;
    opacity: 20%;
    transition: font-size 0.5s, opacity 0.5s;
}

#index > p {
    float: right;
}

#menu > p:hover, #index > p:hover {
    opacity: 100%;
    transition: font-size 0.5s, opacity 0.5s;
}

#menu ul, #menu li, #index ul, #index li {
    padding: 2px;
    margin: 0;
    list-style-type: none;
}

#menu > ul p, #index > ul p {
    font-size: 1.2em;
    margin: 0;
    color: mediumslateblue;
}

#menu > ul > li {
    font-weight: bold;
}

#menu > p, #menu ul > li > ul > li, #index > p, #index ul > li {
    margin: 0 5px 0 10px;
    cursor: pointer;
}

#index ul {
    max-height: 100vh;
    max-width: 25vw;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fcf1d5&noise=626262&density=15&opacity=15");
    overflow: auto;
}

#index ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.visible {
    visibility: visible;
    opacity: 0.9;
    transition: visibility 0s, opacity 0.5s;
}
